* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin-left: 2%;
    margin-top: 10%;

}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:18px;
    text-align: center;
    background-color: #f1f1f1;
  }

  h1 {
    margin-top: 10%;

  }

  button {
    height: 50px;
    width: 100px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 10%;
    margin-top: 10%;
    margin-left: 45%;


  }

  .card:hover {
    background-color: blanchedalmond;
    box-shadow: 1px 2px 2px 1px chocolate;
  }

  h1:hover {
    color: burlywood;

  }