body {
    margin: 0px;
    position: relative;
}

#header {
    width: 100%;
    height: 60px;
    background-color: #d48dd4;
   
}

#logo {
    height: 60px;
    width: 60px;
    margin: 0px;

}

#precice {
    float: right;

}

#slovo {
    color: white;
}



#forms {
    border-radius: 5px;
    background-color: lightpink;
    padding-top: 90px;

}



.footer {
    bottom: 0;
    margin: 0 auto !important;
    text-align: center !important;
    width: 100% !important;
    height: 40px;
    position: absolute;
    border-top: 1px solid grey;
}



img {
    height: 250px;
    width: 250px;
    margin-top: 170px;
    margin-left: 40%;
}

#opis {
    margin-top: 13%;
    color: lightgray;
    height: 200px;
    width: 400px;
    border: 1px solid #d48dd4;
    border-radius: 7%;
    margin-bottom: 2%;
    margin-left: 6%;
}


#slovo:hover {
    color: red;
    background-color: blue;
    margin-top: 5%;
}